<div class="active-grid">
    <div class="active-grid__col active-grid__name text_bold">
        <span class="big">a</span><span>ctive</span>
    </div>
    <div class="active-grid__col active-grid__title">Simple</div>
    <div class="active-grid__col active-grid__title">Progressive</div>
    <div class="active-grid__col active-grid__title">Perfect</div>
    <div class="active-grid__col active-grid__title">Perfect-progressive</div>
    <div class="active-grid__col active-grid__helper text_italic">
        <span class="crossed">to </span>
        <span class="verb">V</span>
    </div>
    <div class="active-grid__col active-grid__helper">
        <span class="crossed">to </span>
        <span class="center_begin">be </span>
        <span class="verb">V</span>
        <span class="sup">ing</span>
    </div>
    <div class="active-grid__col active-grid__helper">
        <span class="crossed">to </span>
        <span class="center_begin">have </span>
        <span class="verb">V</span>
        <span class="sub">ed</span>
        <span class="sup">&#8546;f</span>
    </div>
    <div class="active-grid__col active-grid__helper">
        <span class="crossed">to </span>
        <span class="center_begin">have been </span>
        <span class="verb">V</span>
        <span class="sup">ing</span>
    </div>
    <div class="active-grid__col active-grid__title">Present</div>
    <div class="active-grid__col">					
        <span class="sub">do(es)</span>
        <span class="sup">he, she, it</span>
        <span class="verb">V</span>
        <span class="sup">(s)</span>
    </div>
    <div class="active-grid__col">
        <span class="sub">am</span>
        <span class="center">&#8194;is</span>
        <span class="sup">are</span>
        <span class="verb">V</span>
        <span class="sup">ing</span>
    </div>
    <div class="active-grid__col">
        <span class="sub">have</span>
        <span class="sup">has&#8194;</span>
        <span class="verb">V</span>
        <span class="sub">ed</span>
        <span class="sup">&#8546;f</span>
    </div>
    <div class="active-grid__col">
        <span class="sub">have</span>
        <span class="sup">has&#8194;</span>
        <span class="center_begin">been</span>
        <span class="verb">V</span>
        <span class="sup">ing</span>
    </div>
    <div class="active-grid__col active-grid__title">Past</div>
    <div class="active-grid__col">
        <span class="center_begin">did</span>
        <span class="verb">V</span>
        <span class="sub">ed</span>
        <span class="sup">&#8545;f</span>
    </div>
    <div class="active-grid__col">
        <span class="sub">was</span>
        <span class="sup">were</span>
        <span class="verb">V</span>
        <span class="sup">ing</span>
    </div>
    <div class="active-grid__col">
        <span class="center_begin">had </span>
        <span class="verb">V</span>
        <span class="sub">ed</span>
        <span class="sup">&#8546;f</span>
    </div>
    <div class="active-grid__col">
        <span class="center_begin">had been</span>
        <span class="verb">V</span>
        <span class="sub">ed</span>
        <span class="sup">&#8546;f</span>
    </div>
    <div class="active-grid__col active-grid__title">Future</div>
    <div class="active-grid__col">
        <span class="sub">shall</span>
        <!-- <span class="center">( __'ll) </span> -->
        <span class="sup">will&#8194;&#8194;</span>
        <span class="verb">V</span>
    </div>
    <div class="active-grid__col">
        <span class="center_begin">will be </span>
        <span class="verb">V</span>
        <span class="sup">ing</span>
    </div>
    <div class="active-grid__col">
        <span class="center_begin">will have </span>
        <span class="verb">V</span>
        <span class="sub">ed</span>
        <span class="sup">&#8546;f</span>
    </div>
    <div class="active-grid__col">
        <span class="center_begin">will have been</span>
        <span class="verb">V</span>
        <span class="sup">ing</span>
    </div>
    <div class="active-grid__col active-grid__addition">
        <span class="addition"><i>Addition</i></span>
    </div>
    <div class="active-grid__col active-grid__addition">
        <span class="addition">will not = won't</span>
    </div>
    <div class="active-grid__col active-grid__col_img active-grid__addition">
        <span class="addition addition_before-center"><img src="assets/image/sinus.png" alt=""></span>
        <span class="addition addition_after addition_before"><img src="assets/image/sinus.png" alt=""></span>
        <span class="addition addition_center"><img src="assets/image/sinus.png" alt=""></span>
    </div>
    <div class="active-grid__col active-grid__addition">
        <div class="addition crossed crossed-to">When?</div>
        <div class="addition"><b>alredy</b> - (уже?)/(еще-)</div>
        <div class="addition"><b>just</b> - только</div>
        <div class="addition"><b>never</b> - никогда</div>
        <div class="addition"><b>ever</b> - когда-либо</div>
        <div class="addition"><b>lately</b> / <b>recently</b> -<div>последнее время</div></div>
    </div>
    <div class="active-grid__col active-grid__addition">
        <div class="addition"><b>How long?</b> - как долго</div>
        <div class="addition"><b>for</b> - в течении</div>
        <div class="addition"><b>since</b> - c какого-<div>то времени</div></div>
    </div>
</div>